{% extends "base.html" %}



{% block content %}
    {% comment %} <span class="mb-4">Goodreads</span> {% endcomment %}
    <div class="library">
        <div class="col-6 ms-5">
            <h3>Who We Are?</h3>
            <p>Goodreads is the world`s largest site for readers and book recommendations. Our mission is to help people find and share books they love. Goodreads launched in January 2007.</p>
            
    </div>

    <footer style="background-color: #caced1;">     
        <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
            <div class="text-center">
                <a href="https://github.com/Asadbek-Web"><img  class="mx-1 footer-icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTut0MEnAzgz3ejcE4eWIXHwQbafdMTOr5Fo2JwWH3zlyBF6j4ozmXdsaSdt73hZli4R0Y&usqp=CAU"></a>
                <a href="https://t.me/Abdumalikov_A_Z"><img  class="mx-1 footer-icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPPn2ndg3PnycZSczVsg0zIoFx9rnDJ9btfw&usqp=CAU"></i></a>
                <a href="<mailto: asadbekabdumalikovfifth@gmail.com>"><img class="mx-1 footer-icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTT4tNXUcGpAX_ywFok1ADMfGGX6_NVdcg6qA&usqp=CAU"></a>
            </div>

            <p class="mt-2">Asadbek_Abdumalikov &trade; | 2022</p>
        </div>
    </footer>
    

{% endblock %}

